---
layout: base.njk
permalink: /404.html
title: 找不到這一頁
eleventyExcludeFromCollections: true
---
{%- import "macros.njk" as ui -%}
<section class="section">
  <div class="container narrow center">
    <div class="empty">
      {{ ui.buddy("/assets/img/member4.png", "咦？這一頁好像走丟了", "left") }}
    </div>
    <div class="btn-row center-row">
      <a class="btn btn-primary" href="/">回首頁</a>
      <a class="btn btn-soft" href="/articles/">看文章</a>
    </div>
  </div>
</section>
