---
layout: base.njk
permalink: /404.html
eleventyComputed:
  title: "{{ pages.notfound.title }}"
eleventyExcludeFromCollections: true
---
{%- import "macros.njk" as ui -%}
<section class="section">
  <div class="container narrow center">
    <div class="empty">
      {{ ui.buddy("/assets/img/member4.png", pages.notfound.bubble, "left") }}
    </div>
    <div class="btn-row center-row">
      <a class="btn btn-primary" href="/">{{ pages.notfound.home_button }}</a>
      <a class="btn btn-soft" href="/articles/">{{ pages.notfound.articles_button }}</a>
    </div>
  </div>
</section>
